extends layout

mixin thumb(plan)
    a.thumbnail(href='/itinerary/x/' + plan.id + '/x/')
      img(src=plan.plan.images[0].small, style="height:200px; overflow-x:clip")
      div.caption 
        h4= plan.plan.title
        small= 'by ' + plan.author.name
        p=plan.plan.description

mixin thumb_new()
    a.thumbnail(href='/itinerary/new/')
      div.caption 
        h4 Add new travel plan


block content
  div.page-header
    h1= model.title

  if model.introblock == "welcome"
    include partials/contentblocks/welcome
  
  if model.include_newbutton
    div.col-md-2
      +thumb_new()

  each item in model.suggestions
    div.col-md-2
      +thumb(item)
